<extend name="Public:layout" />
<block name="content">4
  <div class="page__hd">
    <h1 class="page__title">{$room.name}</h1>
    <p class="page__desc">
      学习，使我快乐
    </p>
  </div>
  <div class="page__bd">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">房间信息</div>
      <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">房主</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <span style="vertical-align:middle; font-size: 17px;">{$roomown.name}</span>
        </div>
      </div>
      <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">活动地点</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <span style="vertical-align:middle; font-size: 17px;">图书馆{$room.placde}楼</span>
        </div>
      </div>
      <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">活动开始时间：</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <span style="vertical-align:middle; font-size: 17px;">{$room.starttime}</span>
        </div>
      </div>
      <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">活动结束时间：</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <span style="vertical-align:middle; font-size: 17px;">{$room.endtime}</span>
        </div>
      </div>
      <div class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">活动地图：</div>
        <div id="zoom-marker-div" class="zoom-marker-div" >
          <img class="zoom-marker-img" id="zoom-marker-img" alt="..." name="viewArea" draggable="false" />
        </div>
      </div>
    </div>
    <div class="weui-panel weui-panel_access">
      <volist name="list" id="pe">
        <div class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="" alt="">
          </div>
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">{$pe.name}</h4>
            <p class="weui-media-box__desc">{$pe.des}</p>
          </div>
        </div>
      </volist>
    </div>
  
        
        
  </div>
</block>
<block name="script">
<script type="text/javascript">
	$(document).ready(function () {


		$('#zoom-marker-img').zoomMarker({
        src: "/Public/Home/img/yue/1.png",
        rate: 0.2,
        width: 600,
        max: 6000,
        markers:[
            {src:"/Public/Home/img/yue/marker.svg", x:{$room.x}, y:{$room.x}}
            ]


    	});
		if({$place}==2){
$('#zoom-marker-img').zoomMarker_LoadImage("/Public/Home/img/yue/2.png");
		}
		if({$place}==3){
$('#zoom-marker-img').zoomMarker_LoadImage("/Public/Home/img/yue/3.png");
		}
		if({$place}==4){
$('#zoom-marker-img').zoomMarker_LoadImage("/Public/Home/img/yue/4.png");
		}


	});


</script>
</block>