
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
   
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/weui.css">
    <block name="style"></block>
    <block name="head-script"></block>


</head>
     
   
<body>
    <block name="content"></block>
    
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <block name="script"></block>
</body>

</html>