
html,
body {
  width: 100%;
  height: 100%; 
     background-color: #FDF1F1;
}


.page{
  box-sizing:border-box;
  padding: 20px 40px;
}
#app {
  position: absolute;
  width: 100%;
  top: 1.0666666667rem; }

.tit {
  text-align: center; }
  .tit .title {
    font-size: 2.1333333333rem;
    font-weight: 900;
    text-align: center; }
  .tit .subtitle {
    color: #A9A9A9;
    font-size: 0.64rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 0.2133333333rem; }
  .tit #ls {
    position: relative;
    bottom: 0.32rem; }

.avatar-row{
  top: 20px;
}
.img-home {
  width: 100%; }

.btnare {
  width: 50%;
  text-align: center; }
.el-button{
  font-size: 1.2rem;
}
.el-row{
  text-align: center;
}
#we1{
  margin-bottom: 0.7rem;
}
.banner{
      margin-bottom: 20px;
      position: relative;
      box-sizing: border-box;
      padding: 0.426667rem 0.42667rem 0.42667rem 2.77rem;
   
      height:15%;
      color: #fff;
      background-image: linear-gradient(180deg,#abbffd,#738cfa);
      border-radius: 0.8rem;
      box-shadow:  0 24px 30px -20px #738cfa;
      vertical-align: top;    

}
.step{
  position: absolute;
    left: 0.9rem;
    top: 0.5rem;
    line-height: 1.5rem;
    font-size: 2rem;
    font-weight: lighter;
    vertical-align: top;
}


.el-input-group{
    padding: 0 40px 0 40px;
        width: 90%;
        height: 60px;
}

.el-input__inner{
  height: 60px;
}
.content{
  margin-bottom: 0.3rem;
    background-color: #fff;

height:70%;


border-radius:40px;
box-shadow: 0 24px 30px -20px grey;
 margin-top: 40px;
}
.el-radio__label span{
  font-size:1.5rem; 
}
.el-row{
  height: 100%;
}
.avatar {
 display:inline-block;
 margin:0 auto;
 vertical-align:middle;
 text-align:center
}
.img {
 margin-bottom:5px;
 width:100px;
 height:100px;
 background-repeat:no-repeat;
 background-size:contain;
 background-position:50%;
 transition:background-image .15s cubic-bezier(.71,-.46,.88,.6)
}
el-radio{
  font-size: 2rem;
}
.el-radio__inner{
  border: 17px solid #dcdfe6;
  width: 50px;
  height: 50px;
} 
.el-radio__label {
  font-size: 40px;
}
.el-col-24{
  height: 50%;
}
.el-radio__input.is-checked .el-radio__inner{
  background: #FFFFFF;
}
.img{
  height: 100%;
  width: 100%;
}
.imgmale{
  background-image: url('../img/maleb.svg');
  background-repeat:no-repeat;
}
.imgfemale{
  background-image: url('../img/femaleb.svg');
  background-repeat:no-repeat;
}
.mactive{
  background-image: url('../img/malea.svg');
  background-repeat:no-repeat;
}
.factive{
  background-image: url('../img/femalea.svg');
  background-repeat:no-repeat;
}
.imgcon1{
  text-align: center;
  width: 5rem;
  height: 5rem;
}
.btn{
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px #feca4c;
    background-image: linear-gradient(180deg,#fedc59,#fdb63d);
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    outline: 0;
    border: 0;
}
.btn-next{
width: 30px;
height: 30px;

float: right;
}
.btn-previous{
width: 30px;
height: 30px;
margin-right: 50px;
float: left;
}
.arrow-right{
  width: 100%;
  height: 100%;
  background-image: url('../img/more.svg');
  background-repeat:no-repeat;
  background-size: 100% 100%;
}
.arrow-left{
   width: 100%;
   height: 100%;
  background-image: url('../img/back.svg');
  background-repeat:no-repeat;
  background-size: 100% 100%;

}
.head{
  text-align: center;
}

.el-switch__label *{
  font-size: 1rem;
}
.el-switch__label,.span{
  font-size: 1rem;
}
.imgcon2{
text-align: center;
 
  height: 5rem;
}
.fang{
  width: 100%;
  height: 100%;
  background-image: url('../img/houseb.svg');
}
.faactive{
  width: 100%;
  height: 100%;
  background-image: url('../img/house.svg');
}
.form{
  display: none;
}
.el-input{
  font-size: 30px;
  margin-top: 50px;
}
.des{
    background-color:rgba(255, 255, 255, 0);
    color:black;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 0px;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
}
.che{
  width: 100%;
  height: 100%;
  background-image: url('../img/carloan.fd.png');
}
.chactive{
  width: 100%;
  height: 100%;
  background-image: url('../img/carloan-active.png');
}
.el-slider__runway{
  height: 30px;
}
.el-slider__bar{
  height: 30px;
}
.el-slider__button,.el-tooltip,.hover{
    width: 40px;
    height: 40px;

}
.block {
    margin: 20px 30px 0px 30px;
}
.sele{
  text-align: center;
}

#page5 >.el-input--suffix{
  font-size: 40px;
}
.el-select-dropdown__item{
  font-size: 40px;
  height:40px;
}
.#datePlugin .d-date-box{
  height: 30%;
}
.d-date-btns {
    height: 100px;
}
 #datePlugin .d-date-btns .d-btn{
height: 100%;
font-size: 40px;
}
.dp{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
#date5{
  width: 80%;
  font-size: 40px;
}
