body{
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
color: #363636;
}
html{
	font-size: 15px;
	box-sizing: border-box;
}
.header{
    position: relative;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #20a0ff;
    margin: 0px 0px 0px 0px;
}
.back{

padding-left: 10px;
position: absolute;
left: 0;
color: #fff;
}
body{
margin: 0px 0px 0px 0px;
width: 100%;
height: 100%;

}
.body{
	padding: 20px;
width: 100%;
box-sizing: border-box;
height: 100%;
}
h1{
display: inline-block;
color: #fff;
font-weight: 400;
font-size: 20px;
margin:  0px 0px 0px 0px;
}
.el-icon-arrow-left{
	font-size: 30px;
	line-height: 50px;
}
.img {
 margin-bottom:5px;

 height:100px;
 background-repeat:no-repeat;
 background-size:contain;
 background-position:50%;
 transition:background-image .15s cubic-bezier(.71,-.46,.88,.6)
}

.factive{
  background-image: url('../img/femalea.svg');
  background-repeat:no-repeat;
}
.mactive{
  background-image: url('../img/malea.svg');
  background-repeat:no-repeat;
}
.avatar{
	vertical-align: middle;
text-align: center;
}
hr{
margin: 20px 0;
border: 1px solid #d3d3d3;
background-color: #d3d3d3;
}
.icon-future{
margin: auto;
width: 100%;
height: 100px;
 background-repeat:no-repeat;
text-align: center;
font-size: 20px;
color: #20a0ff;
	background-image: url('../img/line.png');
}

.icon-heart{
	 margin: 0 auto;
    width: 35px;
    height: 70px;
   
    background-size: contain;
    background-position: 50%;
		background-image: url('../img/heart.png');
		 background-repeat: no-repeat;
}
.icon-lung{
	 margin: 0 auto;
    width: 35px;
    height: 70px;
   
    background-size: contain;
    background-position: 50%;
	background-image: url('../img/lung.png');
	 background-repeat: no-repeat;
}
.icon-hospital{
	 margin: 0 auto;
    width: 35px;
    height: 70px;
   
   
	background: url('../img/hospital.png');
	 background-repeat: no-repeat;
	  background-size: contain;
    background-position: 50%;
}

.icon-umbrella{
	 margin: 0 auto;
    width: 35px;
    height: 70px;
   
    background-size: contain;
    background-position: 50%;
	background: url('../img/unbra.png');
	 background-repeat: no-repeat;
	  background-size: contain;
    background-position: 50%;
}
.feature-num {
    line-height: 30px;
    text-align: center;
}
.feature-text{
	text-align: center;
    color: #a9a9a9;
}
.feature-title {
    text-align: center;
}
.product-row {
    margin: 20px 0;
}
.product-name {
    line-height: 25px;
}
.product-desc {
    font-size: 14px;
    line-height: 25px;
    color: grey;
}
.product-index {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
