<extend name="Public:menuLayout" />
<block name="title">报考生信息管理</block>
<block name="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{$user.username}</h4></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>入学年份</td>
                                        <td>{$user.enroll_year}</td>
                                    </tr>
                                    <tr>
                                        <td>生日</td>
                                        <td>{$user.birthday}</td>
                                    </tr>
                                    <tr>
                                        <td>注册验证方式</td>
                                        <td>{$user.type}</td>
                                    </tr>
                                    <tr>
                                        <td>电话</td>
                                        <td>{$user.phone}</td>
                                    </tr>
                                    <tr>
                                        <td>邮箱</td>
                                        <td>{$user.email}</td>
                                    </tr>
                                    <tr>
                                        <td>城市</td>
                                        <td>{$user.city}</td>
                                    </tr>
                                    <tr>
                                        <td>公司</td>
                                        <td>{$user.company}</td>
                                    </tr>
                                    <tr>
                                        <td>职位</td>
                                        <td>{$user.position}</td>
                                    </tr>
                                    <tr>
                                        <td>数据库中是否存在</td>
                                        <td>
                                             <?php echo $user['isfound']==1?'是':'否'?> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>openid</td>
                                        <td>{$user.openid}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
