<extend name='Public:layout' />
<block name='content'>
</block>
<block name='script'>
  <script>
  $(document).ready(function() {
    $.ajax({
      url: 'https://api.caiyunapp.com/v2/TAkhjf8d1nlSlspN/121.6544,25.1552/forecast.jsonp?callback=MYCALLBACK',
      type: 'get',
      async: true,
      dataType:'JSONP',
      data: {
        
      },

    });


{  
  "nodes":[  
    { "name": "云天河"   , "image" : "SilenceImage/tianhe.jpg" },  
    { "name": "韩菱纱"   , "image" : "SilenceImage/lingsha.jpg" },  
    { "name": "柳梦璃"   , "image" : "SilenceImage/mengli.jpg" },  
    { "name": "慕容紫英" , "image" : "SilenceImage/ziying.jpg" }  
  ],  
  "edges":[  
    { "source": 0 , "target": 1 , "relation":"挚友" },  
    { "source": 0 , "target": 2 , "relation":"挚友" },  
    { "source": 0 , "target": 3 , "relation":"挚友" }  
  ]  
}  
  })

  </script>
</block>
