<extend name="Public:layout" />
<block name="content">
    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
            <!-- START panel-->
            <div class="panel panel-default panel-flat">
                <div class="panel-heading text-center">
                    <a href="#">
                        <img src="__PUBLIC__/Admin/img/sime-logo.png" class="block-center img-rounded">
                    </a>
                </div>
                <div class="panel-body">
                    <form action="/admin/account/doLogin" method="POST" class="mb-lg">
                        <div class="form-group has-feedback">
                            <input type="text" name="username" placeholder="用户名" autocomplete="off" required class="form-control">
                            <span class="fa fa-user form-control-feedback text-muted"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" placeholder="密码" required class="form-control">
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary mt-lg">登录</button>
                    </form>
                </div>
            </div>
            <!-- END panel-->
            <div class="p-lg text-center">
              
        
                <span>信息管理与工程学院（上海财经大学）</span>
            </div>
        </div>
    </div>
</block>