@import 'px2rem.scss';
$designWidth: 750;
@function zerofill($i) { @return #{str-slice("00",0,2 - str-length(#{$i}))}$i; }


html {
    font-family: sans-serif;
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: px2rem(750);
    margin: 0 auto;
}

.loading-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ece6d9;
    z-index: 999;
    .loader{
        position: absolute;
        width: 100%;
        height: px2rem(500);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    img{
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }
}
.ldBar> .ldBar-label {
    text-align: center;
    font-size: px2rem(30);
    color:#bea889;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .slide{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}
@for $i from 1 through 15 {
    $i: zerofill($i);
    .slide-#{$i} {
        background: url(./img/#{$i}/bg.jpg) no-repeat;
    }
}

#slide-01-title{
    position: absolute;
    top:px2rem(116);
    left: px2rem(125);
    width: px2rem(502);
    height: px2rem(334);
    background:url('./img/01/title@2x.png') no-repeat;
    background-size: cover;
}
#slide-01-schoolgate{
    position: absolute;
    top: px2rem(452);
    left: 0;
    width: px2rem(750);
    height: px2rem(862);
    background:url('./img/01/schoolgate@2x.png') no-repeat;
    background-size: cover;  
}
#slide-01-footer{
    position: absolute;
    bottom: px2rem(33);
    left: 0;
    width: px2rem(750);
    height: px2rem(24);
    background: url('./img/01/footer@2x.png') no-repeat;
    background-size: cover;  
}

#slide-02-flag{
    position: absolute;
    top: px2rem(80);
    left: px2rem(70);
    width: px2rem(196);
    height: px2rem(99);
    background:url('./img/02/flag@2x.png') no-repeat;
    background-size: cover;
}
#slide-02-title{
    position: absolute;
    top:px2rem(218);
    left: 50%;
    margin-left: px2rem(-291.5);
    width: px2rem(583);
    height: px2rem(232);
    background:url('./img/02/title@2x.png') no-repeat;
    background-size: cover;
}
#slide-02-subtitle{
    position: absolute;
    top:px2rem(510);
    left: 50%;
    margin-left: px2rem(-215);
    width: px2rem(430);
    height: px2rem(104);
    background:url('./img/02/subtitle@2x.png') no-repeat;
    background-size: cover;
}
#slide-02-bike{
    position: absolute;
    left: 0;
    top: px2rem(508);
    width: px2rem(434);
    height: px2rem(418);
    background:url('./img/02/bike@2x.png') no-repeat;
    background-size: cover;
}
#slide-02-tv{
    position: absolute;
    top: px2rem(725);
    left: 50%;
    margin-left: px2rem(-329);
    width: px2rem(658);
    height: px2rem(471);
    background:url('./img/02/tv@2x.png') no-repeat;
    background-size: cover;
}

#slide-03-film{
    position: absolute;
    top: px2rem(50);
    left: 0;
    width: px2rem(750);
    height: px2rem(233);
    background:url('./img/03/film@2x.png') no-repeat;
    background-size: cover;
}
#slide-03-photo{
    position: absolute;
    top:px2rem(298);
    left:px2rem(66);
    width: px2rem(321);
    height: px2rem(229);
    background:url('./img/03/photo@2x.png') no-repeat;
    background-size: cover;
}
#slide-03-caption{
    position: absolute;
    top:px2rem(332);
    left:px2rem(414);
    width: px2rem(278);
    height: px2rem(188);
    background:url('./img/03/caption@2x.png') no-repeat;
    background-size: cover;
}
#slide-03-file{
    position: absolute;
    top: px2rem(620);
    left: px2rem(18);
    width: px2rem(592);
    height: px2rem(542);
    background:url('./img/03/file@2x.png') no-repeat;
    background-size: cover;
}
#slide-03-sidetext{
    position: absolute;
    top: px2rem(702);
    left: px2rem(626);
    width: px2rem(27);
    height: px2rem(352);
    background:url('./img/03/subtext@2x.png') no-repeat;
    background-size: cover;  
}
#slide-04-title{
    position: absolute;
    top:px2rem(50);
    left: 50%;
    margin-left: px2rem(-188);
    width: px2rem(376);
    height: px2rem(140);
    background:url('./img/04/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-04-photo1{
    position: absolute;
    top: px2rem(200);
    left:0;
    width: px2rem(477);
    height: px2rem(279);
    background:url('./img/04/photo1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-04-text1{
    position: absolute;
    top:px2rem(280);
    left:px2rem(446);
    width: px2rem(278);
    height: px2rem(111);
    background:url('./img/04/text1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-04-text2{
    position: absolute;
    top:px2rem(592);
    left:px2rem(50);
    width: px2rem(231);
    height: px2rem(118);
    background:url('./img/04/text2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-04-photo2{
    position: absolute;
    top:px2rem(530);
    left:px2rem(260);
    width: px2rem(495);
    height: px2rem(279);
    background:url('./img/04/photo2@2x.png') no-repeat;
    background-size: cover; 
    z-index: 1;
}
#slide-04-text3{
    position: absolute;
    top:px2rem(860);
    left:50%;
    margin-left: px2rem(-318);
    width: px2rem(636);
    height: px2rem(103);
    background:url('./img/04/text3@2x.png') no-repeat;
    background-size: cover; 
    z-index: 1;
}
#slide-04-photo3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: px2rem(750);
    height: px2rem(469);
    background:url('./img/04/photo3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-05-title{
    position: absolute;
    top:px2rem(90);
    left:px2rem(36);
    width: px2rem(649);
    height: px2rem(50);
    background:url('./img/05/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-05-photo1{
    position: absolute;
    top:px2rem(181);
    left:0;
    width: px2rem(750);
    height: px2rem(558);
    background:url('./img/05/photo1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-05-text1{
    position: absolute;
    top:px2rem(150);
    left:px2rem(36);
    width: px2rem(329);
    height: px2rem(51);
    background:url('./img/05/text1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-05-photo2{
    position: absolute;
    top:px2rem(608);
    left:0;
    width: px2rem(350);
    height: px2rem(373);
    background:url('./img/05/photo2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-05-photo3{
    position: absolute;
    top:px2rem(600);
    left:px2rem(320);
    width: px2rem(423);
    height: px2rem(323);
    background:url('./img/05/photo3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-05-photo4{
    position: absolute;
    top:px2rem(930);
    left:px2rem(320);
    width: px2rem(423);
    height: px2rem(305);
    background:url('./img/05/photo4@2x.png') no-repeat;
    background-size: cover; 
}
#slide-05-subtext{
    position: absolute;
    top:px2rem(980);
    left:px2rem(36);
    width: px2rem(218);
    height: px2rem(190);
    background:url('./img/05/subtext@2x.png') no-repeat;
    background-size: cover; 
}
#slide-06-title{
    position: absolute;
    top:px2rem(370);
    left:px2rem(240);
    width: px2rem(482);
    height: px2rem(341);
    background:url('./img/06/title@2x.png') no-repeat;
    background-size: cover; 
    z-index: 1;
}
#slide-06-album{
    position: absolute;
    top:px2rem(30);
    left:50%;
    margin-left: px2rem(-357);
    width: px2rem(714);
    height: px2rem(335);
    background:url('./img/06/album@2x.png') no-repeat;
    background-size: cover; 
}
#slide-06-photo1{
    position: absolute;
    top:px2rem(490);
    left:0;
    width: px2rem(404);
    height: px2rem(504);
    background:url('./img/06/photo1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-06-photo2{
    position: absolute;
    top:px2rem(625);
    left:px2rem(375);
    width: px2rem(331);
    height: px2rem(390);
    background:url('./img/06/photo2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-06-text3{
    position: absolute;
    top:px2rem(1040);
    left:50%;
    margin-left: px2rem(-278.5);
    width: px2rem(557);
    height: px2rem(30);
    background:url('./img/06/text3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-06-photo3{
    position: absolute;
    bottom: px2rem(-10);
    left: 0;
    width: px2rem(750);
    height: px2rem(149);
    background:url('./img/06/photo3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-title{
    position: absolute;
    top:px2rem(75);
    left:px2rem(478);
    width: px2rem(234);
    height: px2rem(467);
    background:url('./img/07/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-horn{
    position: absolute;
    bottom:px2rem(20);
    left:px2rem(56);
    width: px2rem(252);
    height: px2rem(274);
    background:url('./img/07/horn@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-film{
    position: absolute;
    top:0;
    left:0;
    width: px2rem(750);
    height: px2rem(1250);
    background:url('./img/07/film@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-photo1{
    position: absolute;
    top:0;
    left:0;
    width: px2rem(286);
    height: px2rem(500);
    background:url('./img/07/photo1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-text1{
    position: absolute;
    top:px2rem(94);
    left:px2rem(215);
    width: px2rem(125);
    height: px2rem(127);
    background:url('./img/07/text1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-photo2{
    position: absolute;
    top:px2rem(399);
    left:px2rem(88);
    width: px2rem(387);
    height: px2rem(373);
    background:url('./img/07/photo2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-text2{
    position: absolute;
    top:px2rem(585);
    left:0;
    width: px2rem(170);
    height: px2rem(219);
    background:url('./img/07/text2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-photo3{
    position: absolute;
    top:px2rem(667);
    left:px2rem(278);
    width: px2rem(387);
    height: px2rem(373);
    background:url('./img/07/photo3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-text3{
    position: absolute;
    top:px2rem(820);
    left:px2rem(150);
    width: px2rem(178);
    height: px2rem(252);
    background:url('./img/07/text3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-photo4{
    position: absolute;
    top:px2rem(934);
    left:px2rem(468);
    width: px2rem(282);
    height: px2rem(307);
    background:url('./img/07/photo4@2x.png') no-repeat;
    background-size: cover; 
}
#slide-07-text4{
    position: absolute;
    top:px2rem(1099);
    left:px2rem(372);
    width: px2rem(96);
    height: px2rem(138);
    background:url('./img/07/text4@2x.png') no-repeat;
    background-size: cover; 
}
#slide-08-flag{
    position: absolute;
    top:px2rem(44);
    left:px2rem(58);
    width: px2rem(173);
    height: px2rem(99);
    background:url('./img/08/flag@2x.png') no-repeat;
    background-size: cover; 
}
#slide-08-title{
    position: absolute;
    top:px2rem(176);
    left:50%;
    margin-left: px2rem(-323);
    width: px2rem(646);
    height: px2rem(200);
    background:url('./img/08/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-08-subtitle{
    position: absolute;
    top:px2rem(462);
    left:50%;
    margin-left: px2rem(-215);
    width: px2rem(400);
    height: px2rem(56);
    background:url('./img/08/subtitle@2x.png') no-repeat;
    background-size: cover; 
}
#slide-09-redcloth{
    position: absolute;
    top:0;
    left:0;
    width: px2rem(750);
    height: px2rem(267);
    background:url('./img/09/redcloth@2x.png') no-repeat;
    background-size: cover; 
}
#slide-09-title{
    position: absolute;
    top:px2rem(50);
    left:50%;
    margin-left: px2rem(-222.5);
    width: px2rem(445);
    height: px2rem(156);
    background:url('./img/09/title@2x.png') no-repeat;
    background-size: cover; 
    z-index: 1;
}
#slide-09-plane{
    position: absolute;
    top:px2rem(10);
    right:0;
    width: px2rem(135);
    height: px2rem(196);
    background:url('./img/09/plane@2x.png') no-repeat;
    background-size: cover; 
    z-index: 2;
}
#slide-09-photo{
    position: absolute;
    top:px2rem(244);
    left:50%;
    margin-left: px2rem(-309.5);
    width: px2rem(619);
    height: px2rem(438);
    background:url('./img/09/photo@2x.png') no-repeat;
    background-size: cover; 
}
#slide-09-balloon1{
    position: absolute;
    top:px2rem(548);
    left:px2rem(30);
    width: px2rem(114);
    height: px2rem(184);
    background:url('./img/09/balloon1@2x.png') no-repeat;
    background-size: cover; 
    z-index: 1;
}
#slide-09-file{
    position: absolute;
    top:px2rem(745);
    left:50%;
    margin-left: px2rem(-346);
    width: px2rem(692);
    height: px2rem(357);
    background:url('./img/09/file@2x.png') no-repeat;
    background-size: cover; 
}
#slide-09-balloon2{
    position: absolute;
    top:px2rem(1066);
    left:px2rem(644);
    width: px2rem(100);
    height: px2rem(172);
    background:url('./img/09/balloon2@2x.png') no-repeat;
    background-size: cover; 
    z-index: 1;
}
#slide-10-plane{
    position: absolute;
    top:px2rem(10);
    right:px2rem(10);
    width: px2rem(221);
    height: px2rem(242);
    background:url('./img/10/plane@2x.png') no-repeat;
    background-size: cover; 
}
#slide-10-image1{
    position: absolute;
    top:px2rem(36);
    left:px2rem(20);
    width: px2rem(388);
    height: px2rem(444);
    background:url('./img/10/image1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-10-image2{
    position: absolute;
    top:px2rem(226);
    left:px2rem(418);
    width: px2rem(297);
    height: px2rem(256);
    background:url('./img/10/image2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-10-image3{
    position: absolute;
    top:px2rem(644);
    left:px2rem(8);
    width: px2rem(329);
    height: px2rem(282);
    background:url('./img/10/image3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-10-image4{
    position: absolute;
    top:px2rem(490);
    left:px2rem(298);
    width: px2rem(432);
    height: px2rem(436);
    background:url('./img/10/image4@2x.png') no-repeat;
    background-size: cover; 
}
#slide-10-slogan{
    position: absolute;
    bottom: 0;
    left:px2rem(6);
    width: px2rem(744);
    height: px2rem(331);
    background:url('./img/10/slogan@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-title{
    position: absolute;
    top:px2rem(84);
    left:50%;
    margin-left: px2rem(-297);
    width: px2rem(594);
    height: px2rem(38);
    background:url('./img/11/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-timeline{
    position: absolute;
    top:px2rem(236);
    left:50%;
    margin-left: px2rem(-7.5);
    width: px2rem(15);
    height: px2rem(1017);
    background:url('./img/11/timeline@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-event1{
    position: absolute;
    top:px2rem(199);
    left:px2rem(72);
    width: px2rem(279);
    height: px2rem(153);
    background:url('./img/11/event1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-text1{
    position: absolute;
    top:px2rem(219);
    left:px2rem(402);
    width: px2rem(222);
    height: px2rem(50);
    background:url('./img/11/text1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-event2{
    position: absolute;
    top:px2rem(305);
    left:px2rem(402);
    width: px2rem(304);
    height: px2rem(163);
    background:url('./img/11/event2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-text2{
    position: absolute;
    top:px2rem(350);
    left:px2rem(94);
    width: px2rem(220);
    height: px2rem(79);
    background:url('./img/11/text2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-event3{
    position: absolute;
    top:px2rem(456);
    left:px2rem(67);
    width: px2rem(288);
    height: px2rem(169);
    background:url('./img/11/event3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-text3{
    position: absolute;
    top:px2rem(487);
    left:px2rem(405);
    width: px2rem(296);
    height: px2rem(55);
    background:url('./img/11/text3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-event4{
    position: absolute;
    top:px2rem(588);
    left:px2rem(402);
    width: px2rem(308);
    height: px2rem(152);
    background:url('./img/11/event4@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-text4{
    position: absolute;
    top:px2rem(626);
    left:px2rem(92);
    width: px2rem(228);
    height: px2rem(72);
    background:url('./img/11/text4@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-event5{
    position: absolute;
    top:px2rem(730);
    left:px2rem(62);
    width: px2rem(293);
    height: px2rem(172);
    background:url('./img/11/event5@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-text5{
    position: absolute;
    top:px2rem(762);
    left:px2rem(402);
    width: px2rem(222);
    height: px2rem(53);
    background:url('./img/11/text5@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-event6{
    position: absolute;
    top:px2rem(888);
    left:px2rem(402);
    width: px2rem(304);
    height: px2rem(177);
    background:url('./img/11/event6@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-text6{
    position: absolute;
    top:px2rem(933);
    left:px2rem(128);
    width: px2rem(224);
    height: px2rem(56);
    background:url('./img/11/text6@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-event7{
    position: absolute;
    top:px2rem(1042);
    left:px2rem(55);
    width: px2rem(304);
    height: px2rem(163);
    background:url('./img/11/event7@2x.png') no-repeat;
    background-size: cover; 
}
#slide-11-text7{
    position: absolute;
    top:px2rem(1095);
    left:px2rem(405);
    width: px2rem(254);
    height: px2rem(54);
    background:url('./img/11/text7@2x.png') no-repeat;
    background-size: cover; 
}
#slide-12-title{
    position: absolute;
    bottom: 0;
    right: 0;
    width: px2rem(712);
    height: px2rem(922);
    background:url('./img/12/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-12-photo1{
    position: absolute;
    top:px2rem(43);
    left:px2rem(88);
    width: px2rem(569);
    height: px2rem(448);
    background:url('./img/12/photo1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-12-photo2{
    position: absolute;
    top:px2rem(510);
    left:px2rem(88);
    width: px2rem(258);
    height: px2rem(256);
    background:url('./img/12/photo2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-12-photo3{
    position: absolute;
    top:px2rem(784);
    left:px2rem(88);
    width: px2rem(258);
    height: px2rem(245);
    background:url('./img/12/photo3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-12-photo4{
    position: absolute;
    top:px2rem(510);
    left:px2rem(372);
    width: px2rem(290);
    height: px2rem(460);
    background:url('./img/12/photo4@2x.png') no-repeat;
    background-size: cover; 
}
#slide-13-title{
    position: absolute;
    top:px2rem(122);
    left:px2rem(406);
    width: px2rem(291);
    height: px2rem(296);
    background:url('./img/13/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-13-photo1{
    position: absolute;
    top:px2rem(85);
    left:px2rem(47);
    width: px2rem(336);
    height: px2rem(386);
    background:url('./img/13/photo1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-13-photo2{
    position: absolute;
    top:px2rem(508);
    left:px2rem(12);
    width: px2rem(439);
    height: px2rem(386);
    background:url('./img/13/photo2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-13-photo3{
    position: absolute;
    top:px2rem(456);
    left:px2rem(415);
    width: px2rem(335);
    height: px2rem(306);
    background:url('./img/13/photo3@2x.png') no-repeat;
    background-size: cover; 
}
#slide-14-photo1{
    position: absolute;
    top:px2rem(85);
    left:px2rem(47);
    width: px2rem(336);
    height: px2rem(385);
    background:url('./img/14/photo1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-14-photo2{
    position: absolute;
    top:px2rem(316);
    left:px2rem(370);
    width: px2rem(300);
    height: px2rem(298);
    background:url('./img/14/photo2@2x.png') no-repeat;
    background-size: cover;
    z-index: 1; 
}
#slide-14-photo3{
    position: absolute;
    top:px2rem(83);
    left:0;
    width: px2rem(701);
    height: px2rem(796);
    background:url('./img/14/photo3@2x.png') no-repeat;
    background-size: cover; 
}
.slide-15-event{
    position: absolute;
    top:px2rem(260);
    left:50%;
    margin-left: px2rem(-252);
    width: px2rem(502);
    height: px2rem(502);
    background-size: cover; 
}
@for $i from 1 through 8 {
    #slide-15-event#{$i} {
        background: url('./img/15/event#{$i}@2x.png') no-repeat;
        background-size: cover; 
    }
}
#slide-15-caption1{
    position: absolute;
    top:px2rem(492);
    left:50%;
    margin-left: px2rem(-142);
    width: px2rem(284);
    height: px2rem(45);
    background:url('./img/15/caption1@2x.png') no-repeat;
    background-size: cover; 
}
#slide-15-caption2{
    position: absolute;
    top:px2rem(624);
    left:50%;
    margin-left: px2rem(-142);
    width: px2rem(284);
    height: px2rem(45);
    background:url('./img/15/caption2@2x.png') no-repeat;
    background-size: cover; 
}
#slide-15-left{
    position: absolute;
    top:px2rem(280);
    left:px2rem(28);
    width: px2rem(65);
    height: px2rem(581);
    background:url('./img/15/left@2x.png') no-repeat;
    background-size: cover; 
}
#slide-15-right{
    position: absolute;
    top:px2rem(274);
    right:px2rem(28);
    margin-left: px2rem(-217);
    width: px2rem(70);
    height: px2rem(585);
    background:url('./img/15/right@2x.png') no-repeat;
    background-size: cover; 
}
#slide-15-watch{
    position: absolute;
    top:px2rem(172);
    left:50%;
    margin-left: px2rem(-217);
    width: px2rem(434);
    height: px2rem(604);
    background:url('./img/15/watch@2x.png') no-repeat;
    background-size: cover; 
}
#slide-15-needle{
    position: absolute;
    top:px2rem(465);
    left:50%;
    margin-left: px2rem(-8);
    width: px2rem(16);
    height: px2rem(170);
    background:url('./img/15/needle@2x.png') no-repeat;
    background-size: cover; 
    transform:rotate(60deg);
}
#slide-15-title{
    position: absolute;
    top:px2rem(912);
    left:50%;
    margin-left: px2rem(-173);
    width: px2rem(346);
    height: px2rem(195);
    background:url('./img/15/title@2x.png') no-repeat;
    background-size: cover; 
}
#slide-15-support{
    position: absolute;
    bottom:px2rem(20);
    left:50%;
    margin-left: px2rem(-156);
    width: px2rem(312);
    height: px2rem(20);
    background:url('./img/15/support@2x.png') no-repeat;
    background-size: cover; 
}
.clockRotation{
    animation-name:clockRotation;
}
@keyframes clockRotation {
    0% {  
        transform:rotate(60deg);
    }
    100% {  
        transform:rotate(360deg);
    }
}
#audio-btn{
    position: fixed;
    right: px2rem(20);
    top: px2rem(20);
    width: px2rem(60);
    height: px2rem(60);
    opacity: .8;
    background: url('./img/audio.png') no-repeat;
    background-size: contain;
    z-index: 100;
}
.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    -moz-animation: rotating 1.2s linear infinite;
    -o-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite
}
@keyframes rotating {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}
@-moz-keyframes rotating {
    from { -moz-transform: rotate(0) }
    to { -moz-transform: rotate(360deg) }
}
.fancybox-caption{
    font-size: .7rem !important;
    line-height: 1.5 !important;
}

/* mend */
@media screen and (max-height: 590px) {
     #slide-04-photo3{
        bottom:-2rem;
     }
 } 