<extend name="Public:layout" />
<block name="style">
  <load href="__PUBLIC__/Admin/vendor/datatables-colvis/css/dataTables.colVis.css" />
  <load href="__PUBLIC__/Admin/vendor/datatables/media/css/dataTables.bootstrap.css" />
  <load href="__PUBLIC__/Admin/vendor/dataTables.fontAwesome/index.css" />
  <load href="__PUBLIC__/Admin/vendor/sweetalert/dist/sweetalert.css" />
  <load href="__PUBLIC__/Admin/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <load href="__PUBLIC__/Admin/css/zy.css" />
  <load href="__PUBLIC__/Admin/css/bootstrap.css" id="bscss" />
</block>
<block name="content">
  <div class='am-container'>
  <div class='am-g'>
      <ol class="am-breadcrumb">
        <li><a href="/search/search" class="am-icon-home">首页</a></li>
        <li><a href="#">分类1</a></li>
        <li class="am-active"><a href ="/search/search/insshow/id/{$cp.id}">{$cp.name}</a></li>
        <li>保障的重大疾病范围</li>
      </ol>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <table id="datatable" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="col-2">病名</th>
                    <th class="col-9">病名释义</th>
                  </tr>
                </thead>
                <tbody>
                  <volist name="illlist" id="ill">
                    <tr>
                      <td>{$ill.illname} </td>
                      <td>{$ill.illexp}</td>
                    </tr>
                  </volist>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="script">
  <script src="__PUBLIC__/Admin/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="__PUBLIC__/Admin/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
  <script src="__PUBLIC__/Admin/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
  <script src="__PUBLIC__/Admin/vendor/sweetalert/dist/sweetalert.min.js"></script>
  <script src="__PUBLIC__/Admin/vendor/moment/min/moment-with-locales.min.js"></script>
  <script src="__PUBLIC__/Admin/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script>
  $(function() {
    //datatable初始化
    $('#datatable').dataTable({
      dom: 'lfrt<"table-toolbar mv-lg">p',
      paging: true,
      info: true,
      autoWidth: false,
      oLanguage: {
        sSearch: '搜索',
        sLengthMenu: '每页显示 _MENU_ 条记录',
        sInfo: '第 _PAGE_ 页，共 _PAGES_ 页',
        sZeroRecords: '没有相关记录',
        sInfoEmpty: '0条记录',
        sInfoFiltered: '(从 _MAX_ 条记录过滤)',
        oPaginate: {
          sPrevious: '上一页',
          sNext: '下一页'
        }
      }
    });


    $('#downAvatar').click(function(e) {
      $('[name="type"]').val('avatar');
      document.forms['downloadzip'].submit();
    });

    $('#downCertificate').click(function(e) {
      $('[name="type"]').val('certificate');
      document.forms['downloadzip'].submit();
    });
    $('#downReport').click(function(e) {
      $('[name="type"]').val('report');
      document.forms['downloadzip'].submit();
    });
    //导出panel
    $('#export-panel').on('click', '[data-tool="panel-collapse"]', function() {
      $(this).find('em').toggleClass('fa-minus').toggleClass('fa-plus');
      $(this).parent().toggleClass('panel-heading-collapsed');
      $(this).parent().siblings('.panel-wrapper').slideToggle(200).toggleClass('in');
    });
    $('#datetimepicker-start').datetimepicker({
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      },
      format: 'YYYY-MM-DD'
    });
    $('#datetimepicker-end').datetimepicker({
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      },
      format: 'YYYY-MM-DD',
      maxDate: moment(),
      useCurrent: false
    });
    $("#datetimepicker-start").on("dp.change", function(e) {
      $("#datetimepicker-end").data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker-end").on("dp.change", function(e) {
      $("#datetimepicker-start").data("DateTimePicker").maxDate(e.date);
    });
    //导出Excel
    $('#btnSubmit').click(function(e) {
      e.preventDefault();
      if (!$('[name="start_date"]').val()) {
        alert('起始日期不能为空!');
        return;
      }
      if (!$('[name="end_date"]').val()) {
        alert('结束日期不能为空!');
        return;
      }
      document.forms['exportExecl'].submit();
    });
    //删除学生
    $('#datatable').on('click', '[data-remove]', function() {
      var dateId = $(this).data('remove');
      swal({
          title: "确认删除该条数据?",
          text: "删除后将无法恢复，请谨慎操作",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "是的",
          cancelButtonText: "取消",
          closeOnConfirm: false
        },
        function() {
          $.post('/admin/candidate/deleteill', { num: dateId }, function(res) {
            swal({
              title: "删除成功",
              type: "success",
            }, function() {
              window.location.reload();
            });
          });
        });
    });
  });

  </script>
</block>
