<extend name="Public:layout" />
<block name="style">
  <link rel="stylesheet" href="__PUBLIC__/Search/css/register.css">
</block>
<block name="content">
  <div class=' root' style='background-image: url("//activities.huizecdn.com/hz/www/upload/2019/0227/daerwen-login.jpg");'>
    <div class='am-g index_root'>
      <div class="am-u-md-3">
        <form action='/search/search/do_login' method="POST" class="am-form">
          <fieldset>
            <legend>邮箱登录</legend>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">邮件</label>
              <input type="email" class="" name="email" id="doc-ipt-email-1" placeholder="填写邮箱">
            </div>
            <div class="am-form-group">
              <label for="doc-ipt-pwd-1">密码</label>
              <input type="password" class="" name="password" id="doc-ipt-pwd-1" placeholder="填上你的密码吧">
            </div>
            <p><button id='sub'  class="am-btn am-btn-secondary">登录</button></p>
            <div id="warnbtn" class="am-alert btn btn-block btn-primary mt-lg" data-am-alert>
              <button type="button" class="am-close  btn-primary">&times;</button>
              <p style='text-align: center;'>注意：{$warn}</p>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</block>
<block name="script">
  <script>
  $(function() {
    $fla = {$flag};
    if ($fla) {
      $('#warnbtn').alert('close');
    } else {
      $('.am-u-md-3').css('height', '40rem');
    }
  })

  </script>
  </script>
</block>
