<extend name="Public:layout" />
<block name="style">
  <link rel="stylesheet" href="__PUBLIC__/Search/css/register.css">
</block>
<block name="content">
  <div class=' root' style='background-image: url("//activities.huizecdn.com/hz/www/upload/2019/0227/daerwen-login.jpg");'>
    <div class='am-g index_root'>
      <div class="am-u-md-3" id="page1">
        <form action="/search/search/do_register" method="POST" class="am-form">
          <fieldset>
            <legend>邮箱注册</legend>
            <div class="am-form-group">
              <label for="doc-ipt-email-1">邮件</label>
              <input type="email" class="" name="email" id="doc-ipt-email-1" placeholder="填写邮箱">
            </div>
            <div class="am-form-group">
              <label for="doc-ipt-pwd-1">密码</label>
              <input type="password" class="" name="password" id="doc-ipt-pwd-1" placeholder="填上你的密码吧">
            </div>
            <p><a id='sub' class="am-btn am-btn-secondary">注册</a></p>
            <div id="warnbtn" class="am-alert btn btn-block btn-primary mt-lg" data-am-alert>
              <button type="button" class="am-close  btn-primary">&times;</button>
              <p style='text-align: center;'>注意：{$warn}</p>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="am-u-md-3" id="page2" style="display: none">
        <form action="/search/search/do_register" method="POST" class="am-form">
          <fieldset>
            <legend class='title2'>信息填写</legend>
            <small>该信息仅作为推荐时使用</small>
            <div class="am-form-group am-form-inline">
              <label for="doc-ipt-3" class="am-form-label">性别</label>
              <div class='am-g'>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="sex" value="1" checked>
                    男
                  </label>
                </div>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="sex" value="0">
                    女
                  </label>
                </div>
              </div>
            </div>
            <div class="am-form-group am-form-inline">
              <label for="doc-ipt-3" class="am-form-label">年龄</label>
              <div class='am-g'>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="age" value="0" checked>
                    30岁以上
                  </label>
                </div>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="age" value="1">
                    30岁以下
                  </label>
                </div>
              </div>
            </div>
            <div class="am-form-group am-form-inline">
              <label for="doc-ipt-3" class="am-form-label">家庭年收入</label>
              <div class='am-g'>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="income" value="1" checked>
                    24万以上
                  </label>
                </div>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="income" value="0">
                    24万以下
                  </label>
                </div>
              </div>
            </div>
            <div class="am-form-group am-form-inline">
              <label for="doc-ipt-3" class="am-form-label">婚姻状况</label>
              <div class='am-g'>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="marry" value="0" checked>
                    已婚
                  </label>
                </div>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="marry" value="1">
                    未婚
                  </label>
                </div>
              </div>
            </div>
            <div class="am-form-group am-form-inline">
              <label for="doc-ipt-3" class="am-form-label">健康状况</label>
              <div class='am-g'>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="health" value="1" checked>
                    优秀
                  </label>
                </div>
                <div class="am-radio am-u-md-6" style="text-align: center">
                  <label>
                    <input type="radio" name="health" value="0">
                    良好
                  </label>
                </div>
              </div>
            </div>
            <p><a id='sub2' class="am-btn am-btn-secondary">完成</a></p>
          </fieldset>
        </form>
      </div>
      <div class="am-u-md-5" id="page3" style='display: none'>
        <form action="/search/search/do_register" method="POST" class="am-form">
          <fieldset>
            <legend class='title2'>信息填写</legend>
            <small>勾选你感兴趣的标签</small>
            <div class="am-form-group am-container" >
              <div class="label_ku" style="margin-top: 2rem">
                <volist name="right" id='ri'>
                  <label class="am-checkbox-inline" style="min-width: 17rem;margin-left: 0">
                    <input type="checkbox" name = "interest"value="{$ri.tag1}"> {$ri.tag1}
                  </label>
                </volist>
              </div>
            </div>
            <p><a id='sub3' class="am-btn am-btn-secondary">完成</a></p>
          </fieldset>
        </form>
      </div>
    </div>
</block>
<block name="script">
  <script>
  $(function() {
    $fla = {$flag};
    if ($fla) {
      $('#warnbtn').alert('close');
    } else {
      $('.am-u-md-3').css('height', '40rem');
    };
    $('#sub').click(function(event) {

      $.ajax({
        url: '/search/search/do_register',
        type: 'post',
        data: {
          'password': $('#doc-ipt-pwd-1').val(),
          'email': $('#doc-ipt-email-1').val()
        },
        dataType: "json",
        success: function(data) {
          if (data == 'ok') {
            $('#page1').css('display', 'none');
            $('#page2').css('display', '');

          }
        }
      });
    });

    $('#sub2').click(function(event) {
      $.ajax({
        url: '/search/search/info_detail',
        type: 'post',
        data: {
          'sex': $("input[name='sex']:checked").val(),
          'age': $("input[name='age']:checked").val(),
          'income': $("input[name='income']:checked").val(),
          'marry': $("input[name='marry']:checked").val(),
          'health': $("input[name='health']:checked").val()
        },
        dataType: "json",
        success: function(data) {
          if (data == 'ok') {
            $('#page2').css('display', 'none');
            $('#page3').css('display', '');
          }
        }
      });
    })
    $('#sub3').click(function(event) {
      $("input[name='interest']:checked").each(function(index){
        $.ajax({
        url: '/search/search/interest',
        type: 'post',
        data: {
          'right': $(this).val(),
        },
        dataType: "json",
        success: function(data) {
          if (data == 'ok') {
            $('#page2').css('display', 'none');
            $('#page3').css('display', '');
          }
        }
      });

        });
      window.location.href="/search";

    })
  })

  </script>
  </script>
</block>
