<extend name="Public:layout" />
<block name="style">
  <link rel="stylesheet" href="__PUBLIC__/Search/css/search.css">
</block>
<block name='content'>
  <div class='am-container'>
    <div class='am-g'>
      <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">分类1</a></li>
        <li class="am-active">分类2</li>
        <li>内容</li>
      </ol>
    </div>
  </div>
  <div class='am-container'>
    <div class='am-panel am-panel-secondary'>
      <div class="am-panel-hd" id='panel-hd'>您搜索的相关结果如下</div>
      <div class="am-panel-bd">
        <div class='am-g panel-title'>
          <span class='high_text'>产品筛选</span>
          <span class='low_text'>共{$num}款产品</span>
          <div class='am-g' id="search_filter">
            <span class='low_text am-u-md-2 pand_bd_title'>
              保险品牌：
            </span>
            <div class='high_text am-u-md-8 '>
              <select id ="chose" data-am-selected="{maxHeight: 500}">
                <option  value="{$ins}">{$ins}</option>
                <volist name="cpname" id='cp'>
                  <option value="{$cp.cpname}">{$cp.cpname}</option>
                </volist>
              </select>
            </div>
            <div class='am-u-md-2'>
            </div>
          </div>
        </div>
        <div class="ins_detail">
          <div class="am-container">
            <volist name='datas' id="data">
              <div class="am-g">
                <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                <div class="am-u-md-8">
                  <div class="am-g">
                    <span class="title">{$data.insurance.name}</span>
                  </div>
                  <div class='am-g tag_container'>
                    <div class='am-u-md-6'>
                      <ul id="">
                        <li>
                          保障{$data.ill_count.numill |default = 40}种疾病
                        </li>
                        <li>
                          {$data.right.tag1}
                        </li>
                        <li>
                          {$data.right.tag2}
                        </li>
                        <li>
                          {$data.right.tag3}
                        </li>
                      </ul>
                    </div>
                    <div class='am-u-md-6'>
                      <div class="right_container">
                        <volist name="data.tag" id='tag'>
                          <div class="am-g">
                            {$tag.tag2}
                          </div>
                        </volist>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="am-u-md-4 container-right">
                  <!-- <h1 class="am-g money">
                    <i class="am-icon-cny icon"></i>3.00
                  </h1>
                  <div class="am-g">
                    销量：1000
                  </div>
                  <div class="am-g">
                    评论：1000
                  </div> -->
                  <div class="am-g first_btn">
                    <button type="button" class="am-btn am-btn-primary am-round btn-detail" data-detail="{$data.id}" >查看详情</button>
                  </div>
                  <div class="am-g last_btn">
                    <button type="button" class="am-btn am-btn-secondary am-round">加入对比</button>
                  </div>
                </div>
              </div>
            </volist>
          </div>
        </div>
      </div>
    </div>
    <ul class="am-pagination am-pagination-centered">
      <if condition='$now_page neq 0'>
        <li><a href="/search/search/search/exp/{$exp}/page/0/inscpname/{$ins}">&laquo;</a></li>
        <else />
        <li class='am-disabled'><a href="/search/search/search/exp/{$exp}/page/0/inscpname/{$ins}">&laquo;</a></li>
      </if>
      <if condition='$now_page egt 2'>
        <li><a href="/search/search/search/exp/{$exp}/page/{$now_page-1}/inscpname/{$ins}">{$now_page-2}</a></li>
      </if>
      <if condition='$now_page egt 1'>
        <li><a href="/search/search/search/exp/{$exp}/page/{$now_page-1}/inscpname/{$ins}">{$now_page-1}</a></li>
      </if>
      <li class="am-active"><a href="#">{$now_page}</a></li>
      <if condition='$now_page elt  ($all_page-1)'>
        <li><a href="/search/search/search/exp/{$exp}/page/{$now_page+1}/inscpname/{$ins}">{$now_page+1}</a></li>
      </if>
      <if condition='$now_page elt ($all_page-2)'>
        <li><a href="/search/search/search/exp/{$exp}/page/{$now_page+2}/inscpname/{$ins}">{$now_page+2}</a></li>
      </if>
      <if condition='$now_page neq $all_page'>
        <li><a href="/search/search/search/exp/{$exp}/page/{$all_page}/inscpname/{$ins}">&raquo;</a></li>
        <else />
        <li class='am-disabled'><a href="/search/search/search/exp/{$exp}/page/{$all_page}/inscpname/{$ins}">&raquo;</a></li>
      </if>
    </ul>
  </div>
  </div>
</block>
<block name="script">
  <script>
  $(function() {
    $('.ins_detail').on('click', '[data-detail]', function() {
      var dateId = $(this).data('detail');
      window.location.href = "/search/search/insshow/id/" + dateId;
    });
    $('select[data-am-selected]').change(function(){
      var ins = $("#chose option:selected").val();
      alert(ins);
      window.location.href = "/search/search/search/exp/{$exp}/inscpname/"+ins;
    });
  })

  </script>
</block>
