.page, body {
    background-color:#ECE5E5;
}
.weui-cells__title{
	background-color:rgba(174, 174, 204, 0.16);
	    padding-top: 5px;
    padding-bottom: 5px;

}
img{
	width: 100%;
}
.placeholder{
	text-align: center;
}
.weui-cells__title{
	font-size: 17px;
	color: #6D5555;
}
.page__title{
	font-size: 25px;
}
.weui-flex__item{
	background-color: #ECEBEB;
}
.imgconta{
	
}