<extend name="Public:layout" />
<block name="content">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/menu.css">
  <div class="page">
    <div class="page__hd">
      <h1 class="page__title">顺风校园</h1>
      <p class="page__desc">菜单</p>
    </div>
    <div class="page__bd">
      <div class="weui-cells__title">
        <div class="weui-flex__item">
          <div class="placeholder">快递服务</div>
        </div>
      </div>
      <div class="weui-cells">
        <div class="weui-flex ">
          <div class="weui-flex__item">
            <a href='/home/trade/initiate'>
            <div class="imgconta">
            <img src="__PUBLIC__/Home/img/yue/pen.svg" alt="">
            </div>
              <div class="placeholder">发起订单</div>

            </a>

          </div>

          <div class="weui-flex__item">
            <a href='/home/trade/mytrade'>
           
            <div class="imgconta">
             <img src="__PUBLIC__/Home/img/yue/or1.svg" alt="">
              
              </div>
              <div class="placeholder">我的订单</div>

            </a>
          </div>
          <div class="weui-flex__item">

            <a href='/home/trade/historytrade'>
            <div class="imgconta">
             <img src="__PUBLIC__/Home/img/yue/or2.svg" alt="">
             </div>
              <div class="placeholder">历史订单</div>
            </a>
          </div>
          <div class="weui-flex__item">
            <a href='/home/advise/index'>
    <div class="imgconta">
              <img src="__PUBLIC__/Home/img/yue/hat.svg" alt="">
              </div>
              <div class="placeholder">投诉建议</div>
            </a>
          </div>
        </div>
      </div>
      <div class="weui-cells__title">
        <div class="weui-flex__item">

          <div class="placeholder">约活动</div>
        </div>
      </div>
      <div class="weui-cells">
        <div class="weui-flex">
          <div class="weui-flex__item">
            <a href='/home/yue/guanint'>
              <div class="imgconta">
             <img src="__PUBLIC__/Home/img/yue/book.svg" alt="">
           </div>
              <div class="placeholder">约馆</div>
             
            </a>
          </div>
          <div class="weui-flex__item">
            <a href='/home/yue/ballint'>
               <div class="imgconta">
              <img src="__PUBLIC__/Home/img/yue/goal.svg" alt="">
 </div>
              <div class="placeholder">约球</div>
             
            </a>
          </div>
    
        
          <div class="weui-flex__item">
            <a href='/home/yue/join'>
          
          <div class="imgconta">
            <img src="__PUBLIC__/Home/img/yue/drink.svg".svg" alt="">
          </div>
              <div class="placeholder">加入房间</div>
              
            </a>
          </div>
         
          <div class="weui-flex__item">
            <a href='/home/yue/myroom'>
           
           <div class="imgconta">
            <img src="__PUBLIC__/Home/img/yue/HOME.svg" alt="">
             </div>
              <div class="placeholder">我的活动</div>
            
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="script">
</block>
