
<!doctype html>
<html>
<head>
    

        <meta charset="UTF-8" />
        <meta name="renderer" content="webkit" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0,uc-fitscreen=yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <title>{$title}</title>
        <meta name="keywords" content="miniMobile的demo" />
        <meta name="description" content="miniMobile是一个简单易用的移动框架！" />
        <!-- ui css、js -->
        <link rel="stylesheet" type="text/css" href="/Public/Home/Newmenu/css/user.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/weui.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/exmple.css">
        <link rel="stylesheet" type="text/css" href="/Public/Home/Newmenu/css/miniMobile.css"/>
        <script type="text/javascript" src="/Public/Home/Newmenu/js/zepto.min.js"></script>
        <script type="text/javascript" src="/Public/Home/Newmenu/js/miniMobile.js"></script>
        <!-- 字体图标 -->
        <link rel="stylesheet" type="text/css" href="/Public/Home/Newmenu/plugins/fonticon/iconfont.css" />
        <!-- animate.css -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <block name="style"></block>
   
    
     <block name="userspace"></block>
    
</head>
	  
	
<body class="fadeIn animated">
<header class="ui-header clearfix w75 h8 f46 pl3 pr3 color8 bg-color-success t-c o-h">
            <div class="ui-header-l fl w5">
                <b class="icon iconfont icon-sortlight"></b>
            </div>
            <div class="ui-header-c fl f30 w59">
                功能首页
            </div>
            <div class="ui-header-r fl w5">
                <i class="icon iconfont icon-phone"></i>
            </div>
        </header>
        <!-- aside -->
        <aside class="ui-aside w40 bg-color-success f30">
            
            <ul class="f30 mt2">
                <li>
                    <a href="/home/newmenu/index.html" class="pl3 color8">首页</a>
                </li>
                <li>
                    <a href="/home/newmenu/list-button.html" class="pl3 color8">对话</a>
                </li>
                <li>
                    <a href="/home/newmenu/list.html" class="pl3 color8"<p>闲置列表</p>
                </li>
                <li>
                    <a href="/home/newmenu/comment.html" class="pl3 color8">评论列表</a>
                </li>
                <li>
                    <a href="/home/newmenu/my.html" class="pl3 color8">我的面板</a>
                </li>
            </ul>
        </aside>
        <style>
            /*只针对侧栏内容部分做简单的样式*/
            
            .ui-aside {
                line-height: 1.5em;
            }
            
            .ui-aside ul {
                border-top: 0.02rem solid #017da7;
            }
            
            .ui-aside li {
                line-height: 0.8rem;
                border-bottom: 0.02rem solid #017da7;
            }
            
            .ui-aside a {
                display: block;
            }
        </style>
        <script type="text/javascript">
            var aside = $(".ui-aside").asideUi({
                hasmask: true,
                size: "4rem",
                position: "left",
                sidertime: 300
            });
            $(".ui-header-l").on('touchend', function() {
                aside.toggle();
            })
        </script>
  
    <block name="content"></block>
    <!-- 底部导航 -->
        <nav class="demo-bottomNav mt6 w75 h12 pt1 t-c f28 bg-color8 o-h clearfix">
            <div class="w15 fl">
                <a href="/home/newmenu/index.html">
                    <i class="f46 icon iconfont icon-home_light"></i>
                    <p>首页</p>
                </a>
            </div>
            <div class="w15 fl">
                <a href="/home/newmenu/list-button.html">
                    <i class="f46 icon iconfont icon-comment"></i>
                    <p>消息</p>
                </a>
            </div>
            <div class="w15 fl">
                <a href="/home/newmenu/list.html">
                    <i class="f46 icon iconfont icon-rank"></i>
                    <p>闲置</p>
                </a>
            </div>
            <div class="w15 fl">
                <a href="/home/newmenu/comment.html">
                    <i class="f46 icon iconfont icon-list"></i>
                    <p>投诉意见</p>
                </a>
            </div>
            <div class="w15 fl">
                <a href="/home/newmenu/my.html">
                    <i class="f46 icon iconfont icon-servicefill"></i>
                    <p>我的</p>
                </a>
            </div>
        </nav>
        <style type="text/css">
            .demo-bottomNav {
                line-height: 1.8em;
                border-top:1px solid #F1F1F1;
            }
            
            .demo-bottomNav a {
                display: block;
                width: 100%;
                height: 100%;
            }
        </style>
      <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <block name="script"></block>

</body>

</html>