<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>提示</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
</head>

<body>
    <?php 
        import("Org.Wechat");
        $weObj = new \Wechat(C('WEIXIN_OPTIONS'));
        $url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
        $sign_package=$weObj->getJsSign($url);
     ?>
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-{$msg_type} weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">{$msg_title}</h2>
            <p class="weui-msg__desc">{$msg_desc}</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <?php if(isset($jump_url)){?>
                <a href="javascript:;" class="weui-btn weui-btn_primary" id="confirm">确定</a>
                <?php }?>
                <a href="javascript:;" class="weui-btn weui-btn_default" id="cancel">关闭窗口</a>
            </p>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    (function() {
        wx.config({
            appId: '{$sign_package["appId"]}',
            timestamp: '{$sign_package["timestamp"]}',
            nonceStr: '{$sign_package["nonceStr"]}',
            signature: '{$sign_package["signature"]}',
            jsApiList: ['closeWindow']
        });
        <?php if(isset($jump_url)){?>
        $('#confirm').click(function() {
            location.href = '<?php echo $jump_url ?>'; 
        });
        <?php }?>
        $('#cancel').click(function() {
            wx.closeWindow();
        });
    })();
    </script>
</body>

</html>
