<extend name="Public:layout" />
<block name="content">

    <div class="tpl-content-wrapper">
      <div class="tpl-content-page-title">
        总体数据报告
      </div>
      <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">总体数据报告</a></li>
        
      </ol>
      <div class="tpl-portlet-components">
        <div class="portlet-title">
          <div class="caption font-green bold">
            <span class="am-icon-code"></span> 浏览流量图
          </div>
        </div>
        <div class="tpl-block">
         <!--  <div class="am-g">
            <div class="am-u-sm-12 am-u-md-3">
              <div class="am-form-group">
                <select data-am-selected="{btnSize: 'sm'}">
                  <option value="option1">所有类别</option>
                  <option value="option2">IT业界</option>
                  <option value="option3">数码产品</option>
                  <option value="option3">笔记本电脑</option>
                  <option value="option3">平板电脑</option>
                  <option value="option3">只能手机</option>
                  <option value="option3">超极本</option>
                </select>
              </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
              <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field">
                <span class="am-input-group-btn">
                  <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                </span>
              </div>
            </div>
          </div> -->
          <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
          <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-A">
          </div>
          <div class="portlet-title">
            <div class="caption font-green bold">
              <span class="am-icon-code"></span> 竞争力分析
            </div>
          </div>
          <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-B">
          </div>
          <div class="portlet-title">
            <div class="caption font-green bold">
              <span class="am-icon-code"></span> 收藏用户量
            </div>
          </div>
          <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-C">
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="script">
  <script src="__PUBLIC__/Admin/assets/js/app.js"></script>
</block>
