.ins_name{
	font-size:3rem;
}
.ins_tag{
	display: flex;
	justify-content:space-around;
}
.am-badge{
	font-size: 1.5rem
}
body{
	background-color: #f7f7f799
}
.time_chose{
	height: auto;
}
.detail{
	margin-top: 0.6rem;
}
.detail input{
	border: 1px solid #ccc;
	border-radius: 0;
	background-color: #bed0f766;

}
.detail .am-u-md-3{
	color: #666;
	font-weight: 600;
	text-align: right;
}
.ins_tags{
	margin-top: 1.5rem
}

.detail .am-g{
	margin-top: 2rem
}

.detail .sex{
	line-height: 1.7
}
.hidden{
	visibility:  hidden;
}
.operation button {
	width: 40%;
	margin-right: 1rem
}

.detail input {

    border: 1px solid #8a8a8a;
    border-radius: 0;
    background-color: #fff6;

}
.tag_exp{
	font-weight: 100;
font-size: 1.5rem;
}
.am-table{
	margin-top: 1.6rem;
}
.money{
	color: #f6ab1a;
font-size: 3rem;
font-weight: 700;
}