
.am-topbar .head-contnet-ul {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: right
}
.am-container{
max-width: 1080px;
}

.am-topbar .menu-item-separator {
  padding-left: 10px;
  padding-right: 10px
}

.am-topbar .top-nav-regist-link {
  padding-left: 5px
}

.am-topbar .search-bar a {
  color: #666666;
}

.footer p {
  color: #7f8c8d;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  background: #2d3e50;
}


.am-topbar-fixed-top{
  min-height: 60px;
  height:60px;
  line-height: 75px;
  background-color: white;
  padding-top: 5px;
}
.am-topbar .am-container{
  height: 50px;
}
.am-topbar .am-topbar-brand{
  height: 50px;
  line-height: 50px;
}

.am-topbar .am-topbar-right {
    line-height: 0px;

}
body{
  z-index : -1;
  background-color: #f7f7f7;
}
.am-topbar-collapse li{
font-weight: 800;
font-size: 1.5rem;
}
.am-topbar-collapse a{
font-weight: 500;
font-size: 1.4rem;

}
.am-collapse  .am-dropdown a{
  line-height: 60px
}
.am-collapse li{
  min-width: 100px;
  text-align: center;
}

.am-dropdown-content a{
  line-height: 40px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.am-dropdown-content{
  min-width: 100px;
}

#home{
  line-height: 60px
}

  
.footer p{
  padding: 5px 0;
}