

#searh_container{
  height: 400px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 10%;
}
.question{
	margin: auto;
	background-color: #d2fdff;
	width: 60%;
}
.answer{
	margin: auto;
	background-color:#feefea;
	width: 60%;
}