#panel-hd {
  color: #5f5f5f;
  background-color: rgba(189, 230, 250, 0.56);
  border-color: #a3defb;
}
.high_text{
	color: #666;
	font-weight: 600
}
.low_text{
	color: #666;
}
.am-panel-bd .ins_cop{
	padding-right: 1rem;
	padding-left:1rem;
	margin-top: 0.5rem;
}
.pand_bd_title{
	line-height: 2.3;
	
}
body{
	background-color: #f7f7f799
}
#search_filter{
	margin-top: 0.5rem
}
.am-panel-bd{
	padding: 0px
}
.am-panel-bd .am-g{
	padding-left: 1.5rem;
	padding-right: 1.5rem
}
.ins_detail{
	background-color: white;
	padding-top:2rem;
	padding-bottom: 2rem
}
.panel-title{
	background-color: #f8f8f8;
	border-bottom: solid;
	border-width: thin;
	border-color: gray;
	padding-bottom: 1.5rem
}
.ins_detail .title{
	font-size: 2.2rem;
	font-weight: 600
}

.ins_detail .container-right{
	text-align: center;
	border-left: solid;
	border-color: gray;
	border-width: thin;
}
.ins_detail .money{
	color:#f6ab1a;
}
.ins_detail .icon{
	margin-right: 0.5rem
}
.first_btn{
	margin-top:0.5rem;
	margin-bottom: 0.5rem
}
.last_btn{
	margin-bottom: 1rem
}
.ins_detail .tag_container{
	font-size: 1.4rem
}
.am-selected-btn{
	width: 400px;
}
.ins_detail > div:nth-child(1) > div:nth-child(1) > hr:nth-child(1){
	display: none
}