<extend name="Public:newlayout" />
<block name="content">
  <div class="page__bd" style="margin-bottom: 60px">
    <div class="page__hd">
      <h1 class="page__title">{$room.roomname}</h1>
      <p class="page__desc">
        <if condition="$room.type eq 0">
          学习，使我快乐
          <else>
            运动使我快乐
          </else>
        </if>
      </p>
    </div>
    <div class="page__bd">
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">房间信息</div>
        <div class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">房主</div>
          <div class="weui-cell__ft" style="font-size: 0">
            <span style="vertical-align:middle; font-size: 17px;">{$roomown.username}</span>
          </div>
        </div>
        <div class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">活动地点</div>
          <div class="weui-cell__ft" style="font-size: 0">
            <span style="vertical-align:middle; font-size: 17px;">
        <if condition="$room.type eq 0">
        图书馆{$room.place}楼
      </if>
      <if condition="$room.type neq 0">
        {$room.place}
      </if>


          </span>
          </div>
        </div>
        <div class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">活动开始时间：</div>
          <div class="weui-cell__ft" style="font-size: 0">
            <span style="vertical-align:middle; font-size: 17px;">{$room.starttime}</span>
          </div>
        </div>
        <div class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">活动结束时间：</div>
          <div class="weui-cell__ft" style="font-size: 0">
            <span style="vertical-align:middle; font-size: 17px;">{$room.endtime}</span>
          </div>
        </div>
        <a class="weui-btn weui-btn_mini weui-btn_primary bt1" href="javascript:" style="display: none">隐藏</a>
        <div class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">活动地图：</div>
          <a class="weui-btn weui-btn_mini weui-btn_primary bt2" href="javascript:">显示</a>
          <div id="zoom-marker-div" class="zoom-marker-div" style="display: none">
            <img class="zoom-marker-img" id="zoom-marker-img" alt="..." name="viewArea" draggable="false" />
          </div>
        </div>
      </div>
      <if condition="$type neq 1">
        <div class="weui-panel weui-panel_access">
          <div class="weui-cell__bd">参与人员：</div>
          <volist name="list" id="pe">
            <div class="weui-media-box ">
              <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="" alt="">
              </div>
              <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">{$pe.des}</h4>
              </div>
            </div>
          </volist>
        </div>
      </if>
      <if condition="$type eq 1">
        <div class="weui-flex">
          <div class="weui-flex__item "><a class="weui-btn weui-btn_plain-primary" href="/home/yue/joinroom/id/{$room.id}">加入活动</a></div>
        </div>
      </if>
      <if condition="$type eq 0">
        <div class="weui-flex">
          <div class="weui-flex__item "><a class="weui-btn weui-btn_plain-primary" href="/home/yue/exitroom/id/{$room.id}">退出活动</a></div>
        </div>
      </if>
      <if condition="$type eq 2">
        <div class="weui-flex">
          <div class="weui-flex__item "><a class="weui-btn weui-btn_plain-primary" href="/home/yue/changeplace/id/{$room.id}">修改地点</a></div>
          <div class="weui-flex__item "><a class="weui-btn weui-btn_plain-primary" href="/home/yue/startroom/id/{$room.id}">开始活动</a></div>
          <div class="weui-flex__item "><a class="weui-btn weui-btn_plain-primary" href="/home/yue/endroom/id/{$room.id}">结束活动</a></div>
        </div>
      </if>
    </div>
  </div>
</block>
<block name="script">
  <script src="/Public/Home/js/jquery-1.11.3.min.js"></script>
  <script src="/Public/Home/js/jquery.mousewheel.min.js"></script>
  <script src="/Public/Home/js/require/iscroll.js"></script>
  <script src="/Public/Home/js/datePicker.js"></script>
  <script src="/Public/Home/js/hammer.min.js"></script>
  <script src="/Public/Home/js/zoom-marker.js"></script>
  <script type="text/javascript">
  $(".bt2").click(function(event) {
    $('.zoom-marker-div').attr('style', ' ');
    $(".bt2").attr('style', 'display: none');
    $(".bt1").attr('style', ' ');
  });
  $('.bt1').click(function(event) {
    $(".zoom-marker-div").attr('style', 'display: none');
    $(".bt1").attr('style', 'display: none');
    $(".bt2").attr('style', ' ');
  });

  $(document).ready(function() {







    if ({$room['type']} == 0) {
      if ({$room['place']} == 1)
        var imgsrc = "/Public/Home/img/yue/1.png";
      if ({$room['place']} == 2)
        var imgsrc = "/Public/Home/img/yue/2.png";
      if ({$room['place']} == 3)
        var imgsrc = "/Public/Home/img/yue/3.png";
      if ({$room['place']} == 4)
        var imgsrc = "/Public/Home/img/yue/4.png";
    } else {
      var imgsrc = "/Public/Home/img/yue/schoolmap.png";
    }
    $('#zoom-marker-img').zoomMarker({
      src: imgsrc,
      rate: 0.2,
      width: 400,
      max: 1000,
      markers: [
        { src: "/Public/Home/img/yue/marker.svg", x: {$room['x']}, y: {$room['y']} }
      ]


    });





  });

  </script>
</block>
