<extend name="Public:newlayout" />

<block name="content">

  <div class="page__bd" style="margin-bottom: 40px">
    <div id="zoom-marker-div" class="zoom-marker-div" style="visibility:hidden ;position: fixed;">
<img class="zoom-marker-img" id="zoom-marker-img" alt="..." name="viewArea"  draggable="false"/>
<button id='hidbt' class="weui-btn weui-btn_plain-primary">确定</button>
</div>
<script src="/Public/Home/js/jquery-1.11.3.min.js"></script>
<script src="/Public/Home/js/jquery.mousewheel.min.js"></script>
<script src="/Public/Home/js/require/iscroll.js"></script>
<script src="/Public/Home/js/datePicker.js"></script>
<script src="/Public/Home/js/hammer.min.js"></script>
<script src="/Public/Home/js/zoom-marker.js"></script>
<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
<link rel="stylesheet" href="/Public/Home/css/zoom-marker.css">
<link rel="stylesheet" href="/Public/Home/css/datePicker.css">
  <link rel=    "stylesheet" href="/Public/Home/css/yue/newroom.css">

    <div class="page__bd">
    <form id="fm" action="/home/yue/addrome"  method="POST">
      <div class="weui-cells weui-cells_form">
       <div class="weui-cells__title">房间基本信息</div>
       
        <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">房间名</label>
          </div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="rname" placeholder="请输入房间名">
          </div>
        </div>


        <div class="weui-cell ">
          <div class="weui-cell__hd">
            <label for="" class="weui-label">房间最大人数</label>
          </div>
          <div class="weui-cell__bd">
            <select class='weui-select'  name="num">
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
        </div>
       <div class="weui-cell weui-cell_select weui-cell_select-after">
          <div class="weui-cell__hd">
            <label for="" class="weui-label">约定地点</label>
          </div>
          <div class="weui-cell__bd">
           
            <input class="weui-input" type="text" name="place" placeholder="请输入约定地点">

          </div>

        </div>
        <a href="javascript:" class="mapbt weui-btn weui-btn_mini weui-btn_default">在地图上标记</a>
          <input class="px" type="text" name="px" style="visibility:hidden">
          <input class="py" type="text" name="py" style="visibility:hidden">
       <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
         <label for="" class="weui-label">约定时间</label>
          </div>


          
            <input id="date5" readonly="" name="starttime" placeholder="年-月-日-时间" type="text">
        


        </div>
    
    

        
        <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
         <label for="" class="weui-label">截止时间</label>
          </div>


            <input id="date6" readonly="" name="endtime" placeholder="年-月-日-时间" type="text">


        </div>


      </div>
      

      <div class="weui-btn-area">
        <div class="weui-cell__hd">
          <a class="weui-btn weui-btn_primary" href="javascript:" id="submit">发起房间</a>
        </div>
      </div>


    </form>
  </div>
  </div>

</block>



