<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0,uc-fitscreen=yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<title>栅格化</title>
		<meta name="keywords" content="miniMobile的demo" />
		<meta name="description" content="miniMobile是一个简单易用的移动框架！" />
		<!-- miniMObile.css、js -->
		<link rel="stylesheet" type="text/css" href="/Public/Home/Newmenu/css//miniMobile.css"/>
		<script type="text/javascript" src="/Public/Home/Newmenu/js/zepto.min.js"></script>
		<script type="text/javascript" src="/Public/Home/Newmenu/js/miniMobile.js"></script>
		<!-- fonticon -->
		<link rel="stylesheet" type="text/css" href="/Public/Home/Newmenu/plugins/fonticon/iconfont.css" />
		<!-- animate.css -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
	</head>

	<body class="pb1 fadeIn animated color4">
		<header class="ui-header clearfix w75 h8 f46 pl3 pr3 color8 bg-color-primary t-c">
			<div class="ui-header-l fl w5">
				<a href="index.html" class="icon color8 iconfont icon-home_light"></a>
			</div>
			<div class="ui-header-c fl f30 w59">
				文档ppt
			</div>
			<div class="ui-header-r fr w5">
				<i class="icon iconfont icon-phone"></i>
			</div>
		</header>
		<div class="t-c f28 p6 color4 bg-color6">
			<h2 class="color-danger f46">
				教学系统文档ppt
			</h2>
			<p>顺风校园为您提供最新的课程文档消息</p>
		</div>
		
		<br />
		<h2 class="t-c f40 color3">并行与分布式计算</h2><br />
		<p class="t-c f10" >点击下载文档</p>
		<div class="grid mb2 t-c f36 clearfix">
			<div class="box col-10 h10">Chapter_00 - 序言</div>
			<div class="box col-2 h10">下载</div>
		</div>
		<div class="grid mb2 t-c f36 clearfix">
			<div class="box col-10 h10">Chapter_01 - 为什么要并行计算</div>
			<div class="box col-2 h10">下载</div>
		</div><div class="grid mb2 t-c f36 clearfix">
			<div class="box col-10 h10">An Introduction to Programming </div>
			<div class="box col-2 h10">下载</div>
		</div><div class="grid mb2 t-c f36 clearfix">
			<div class="box col-10 h10">并行计算导论</div>
			<div class="box col-2 h10">下载</div>
		</div><div class="grid mb2 t-c f36 clearfix">
			<div class="box col-10 h10">Chapter_02 - 并行硬件与并行软件1</div>
			<div class="box col-2 h10">下载</div>
		</div>
		</div><div class="grid mb2 t-c f36 clearfix">
			<div class="box col-10 h10">Chapter_02 - 并行硬件与并行软件2</div>
			<div class="box col-2 h10">下载</div>
		</div>
		<br />
		<style>
			.boxs .w51,
			.grid {
				line-height: 1rem;
			}
			
			.grid .box {
				border: 1px solid #f1f1f1;
			}
		</style>
	</body>

</html>