html {
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  width: 16rem;
  margin: 0 auto; }

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center; }

.page-1 {
  background: #fef44c url(./img/bg.jpg) no-repeat;
  background-size: cover; }

.page-2 {
  background: #fef44c url(./img/bg-2.jpg) no-repeat;
  background-size: cover; }

#img-oh {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.54667rem;
  height: 5.65333rem;
  background: url(./img/oh.png) no-repeat;
  background-size: cover; }

#img-title {
  width: 11.94667rem;
  height: 5.97333rem;
  margin-top: 2.98667rem;
  margin-left: auto;
  margin-right: auto;
  background: url(./img/title.png) no-repeat;
  background-size: cover; }

#img-phone {
  width: 15.36rem;
  height: 8.96rem;
  background: url(./img/phone.png) no-repeat;
  background-size: cover; }

#img-question-mark {
  width: 4.032rem;
  height: 5.29067rem;
  margin-top: -1.28rem;
  margin-left: 5.46133rem;
  background: url(./img/question-mark.png) no-repeat;
  background-size: cover; }

#upload {
  position: absolute;
  left: 2.60267rem;
  bottom: 0.42667rem;
  width: 10.88rem;
  height: 3.456rem;
  background: url(./img/upload.png) no-repeat;
  background-size: cover; }

#stu-name {
  margin-top: 1.28rem;
  font-size: 2.13333pxrem;
  text-align: center;
  font-weight: 600; }

#class-name {
  margin-top: 0.32rem;
  font-size: 0.768pxrem;
  text-align: center;
  font-weight: 400; }

.image-container {
  margin-top: 0.64rem;
  width: 100%;
  display: flex; }
  .image-container img {
    display: block;
    flex: 1;
    height: 10.98667rem;
    object-fit: cover; }

.year-container {
  margin-top: 0.32rem;
  display: flex; }
  .year-container .year {
    flex: 1;
    font-size: 0.85333pxrem;
    text-align: center; }

#emoji {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16rem;
  height: 7.04rem;
  background-size: cover; }

#support {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16rem;
  height: 0.91733rem;
  background: url(./img/support.png) no-repeat;
  background-size: cover; }

#share {
  position: absolute;
  right: -0.78933rem;
  top: 0;
  width: 6.76267rem;
  height: 2.34667rem;
  background: url(./img/share.png) no-repeat;
  background-size: cover; }

.emoji-1 {
  background: url(./img/emoji-1.png) no-repeat; }

.emoji-2 {
  background: url(./img/emoji-2.png) no-repeat; }

.emoji-3 {
  background: url(./img/emoji-3.png) no-repeat; }

.emoji-4 {
  background: url(./img/emoji-4.png) no-repeat; }

.emoji-5 {
  background: url(./img/emoji-5.png) no-repeat; }

.emoji-6 {
  background: url(./img/emoji-6.png) no-repeat; }

/* animation sets */
.delay-one {
  -webkit-animation-delay: .5s;
  /* Chrome, Safari, Opera */
  animation-delay: .5s; }

.delay-two {
  -webkit-animation-delay: 1s;
  /* Chrome, Safari, Opera */
  animation-delay: 1s; }

.delay-three {
  -webkit-animation-delay: 1.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 1.5s; }

.delay-four {
  -webkit-animation-delay: 2s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s; }

.delay-five {
  -webkit-animation-delay: 2.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 2.5s; }

.delay-six {
  -webkit-animation-delay: 3s;
  /* Chrome, Safari, Opera */
  animation-delay: 3s; }

.delay-seven {
  -webkit-animation-delay: 3.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 3.5s; }
