<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的订单</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
</head>

<body>
    <div class="weui-panel weui-panel_access">
     


            <div class="weui-cells weui-cells_form">

            <div style=" display: flex; ">
        
            <a href="javascript:;" id='btpage1' class="but weui-btn weui-btn_mini weui-btn_default" >未接订单</a>
            <a href="javascript:;" id='btpage3' class="but weui-btn weui-btn_mini weui-btn_default">待收订单</a>
            <a href="javascript:;" id='btpage4' class="but weui-btn weui-btn_mini weui-btn_default">已完成订单</a>
            </div>

            <div class="page1 page">
            <volist name="onrecords" id="onrecord">
                <a href="/home/Trade/view/id/{$onrecord.recordid}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <if condition="$onrecord.recordid%2 eq 0">
                            <img class="weui-media-box__thumb" src="/Public/Home/img/mytrade/heart-5.png">
                            <else />
                            <img class="weui-media-box__thumb" src="/Public/Home/img/mytrade/heart-7.png">
                        </if>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{$onrecord.company}</h4>
                        <h5 lass="weui-media-box__title">{$onrecord.place}</h5>
                        <p class="weui-media-box__desc">{$onrecord.num}</p>
                    </div>
                </a>
            </volist>
        </div>
            
        <div class="page3 page">
          <volist name="shourecords" id="shourecord">
                <a href="/home/trade/shou/id/{$shourecord.recordid}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">

                        <if condition="$shourecord.recordid%2 eq 0">
                            <img class="weui-media-box__thumb" src="/Public/Home/img/mytrade/heart-5.png">
                            <else />
                            <img class="weui-media-box__thumb" src="/Public/Home/img/mytrade/heart-7.png">
                        </if>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{$shourecord.company}</h4>
                        <h5 class="weui-media-box__title">{$shourecord.place}</h5>
                        <p class="weui-media-box__desc">{$shourecord.num}</p>

                    </div>
                </a>
            </volist>
        </div>
        </div>

        <div class="page4 page">
          <volist name="finishrecords" id="finishrecord">
                <a href="/home/trade/view/id/{$finishrecord.recordid}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <if condition="$finishrecord.recordid/2 eq 0">
                            <img class="weui-media-box__thumb" src="/Public/Home/img/mytrade/heart-5.png">
                            <else />
                            <img class="weui-media-box__thumb" src="/Public/Home/img/mytrade/heart-7.png">
                        </if>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{$finishrecord.company}</h4>
                        <h5 class="weui-media-box__title">{$finishrecord.place}</h5>
                        <p class="weui-media-box__desc">{$finishrecord.num}</p>
                    </div>
                </a>
            </volist>
            </div>

      




        </div>
    </div>
</body>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $('.page').hide();
    $('.page1').show();
    $('#btpage1').attr('style','color: rgba(255, 255, 255, 0.6);background-color: #CE3C39;margin-top:15px');
    $('.but').click(function(){
        $('.but').attr('style','color: #000000;background-color: #F8F8F8;margin-top:15px');
        $(this).attr('style','color: rgba(255, 255, 255, 0.6);background-color: #CE3C39;margin-top:15px');

    });
    $('#btpage1').click(function(){
        $('.page').hide();
        $('.page1').show();
    });
    $('#btpage2').click(function(){
        $('.page').hide();
        $('.page2').show();
    });
    $('#btpage3').click(function(){
        $('.page').hide();
        $('.page3').show();
    });
    $('#btpage4').click(function(){
        $('.page').hide();
        $('.page4').show();
    });





</script>
</html>
