<extend name="Public:menuLayout" />
<block name="title">查询信息</block>
<block name="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default panel-flat">
          <div class="panel-body">
            <form action="/admin/candidate/index" method="POST">
              
              <div class="form-group has-feedback">
                <label class="text-muted">保险id</label>
                <input placeholder="请输入保险id(选填)" name="id" autocomplete="off" class="form-control">
               
              </div>
              <button id="submit1" class="btn btn-danger btn-block">搜索条款
              </button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="script">
  <script>
  $(function() {
    $('#submit1').click(function(e) {
      document.forms[0].submit();
    });

    $('#submit2').click(function(e) {
      $.post('/admin/candidate/statistics');
    });

  });

  </script>
</block>
